.circle{
    width: 300px;
    height: 300px;
    border-radius: 250px;
    opacity: 0.5;
    transition: opacity 500ms;
}

.red{
    background-color: red;
}
.blue{
    background-color: gray;
}
.yellow{
    background-color: drakturquoise;
}
.green{
    background-color: yellow;
}

.gameboard{
    border: 1px solid rgba(181, 166, 66, 0.548);
    background-color: rgba(255, 215, 0, 0.548);
    border-radius: 25px;
}

body{
    background-color: rgb(128, 0, 128);
}

.top-bar{
    border: 1px solid rgba(205, 127, 50, 0.548);
    margin-top: 4px;
    margin-bottom: 14px;
    background-color: rgba(128, 0, 0, 0.548);
    border-radius: 25px;
}
