.circle{
    width: 350px;
    height: 350px;
    border-radius: 250px;
    opacity: 1;
    transition: opacity 500ms;
}

.red{
    background-color: red;
}
.blue{
    background-color: gray;
}
.yellow{
    background-color: darkturquoise;
}
.green{
    background-color: yellow;
}

.gameboard{
    border: 1px solid rgba(0, 0, 255, 0.548);
    background-color: rgba(0, 128, 0, 0.548);
    border-radius: 30px;
}

body{
    background-color: rgb(128, 0, 128);
}

.top-bar{
    border: 1px solid rgba(255, 215, 0, 0.548);
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgba(192, 192, 192, 0.548);
    border-radius: 25px;
}
